<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Клиенты</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/clients.css">
</head>
<body>
<header th:replace="/header :: header"></header>
<main>
    <div th:unless="${clients.isEmpty()}" class="container">
        <div th:each="client : ${clients}" class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 th:text="'Номер клиента: ' + ${client.id_client}" class="card-title"></h5>
                <h6 th:if="${client.patronymic != null}" th:text="${client.surname} + ' ' + ${client.name} + ' ' + ${client.patronymic}" class="card-subtitle mb-2 text-body-secondary"></h6>
                <h6 th:if="${client.patronymic == null}" th:text="${client.surname} + ' ' + ${client.name}" class="card-subtitle mb-2 text-body-secondary"></h6>
                <p th:utext="'<b>Телефон:</b> ' + ${client.phone}" class="card-text"></p>
                <p th:if="${client.email != null}" th:utext="'<b>Почта:</b> ' + ${client.email}" class="card-text"></p>
                <p th:utext="'<b>День рождения:</b> ' + ${client.birthday}" class="card-text"></p>
                <form th:action="@{/clients/delete-client/{id_client}(id_client=${client.id_client})}" method="post">
                    <button type="submit">Удалить</button>
                </form>
            </div>
        </div>
    </div>
    <div class="btn-container">
        <a class="create-btn" th:href="@{/clients/add}">Добавить клиента</a>
    </div>

    <div th:if="${clients.isEmpty()}">
        <p>Клиентов нет</p>
    </div>

</main>
</body>
</html>